.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.home-page h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 1em;
}

.home-page p {
  color: #555;
  font-size: 1.25em;
}
