.jobs-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.jobs-list h1 {
  color: #333;
  text-align: center;
}

.jobs-list form {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Style for input fields */
.jobs-list input[type="text"],
.jobs-list input[type="number"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the checkbox label */
.jobs-list label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Style for the checkbox */
.jobs-list input[type="checkbox"] {
  margin-left: 0.5em;
}

/* Style for the search button */
.jobs-list form button {
  background-color: turquoise;
  border: none;
  padding: 0.5em 1em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .jobs-list form {
    flex-direction: column;
    align-items: stretch;
  }

  .jobs-list input[type="text"],
  .jobs-list input[type="number"],
  .jobs-list button {
    width: 100%;
    margin: 5px 0;
  }

  .jobs-list label {
    margin: 5px 0;
  }
}
